header{
    font-size: 75px;
    font-family: circuitFont;
    text-align: center;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-image: url(../images/darkCircuit.jpg);
}

body{
    background-image: url(../images/backgroundCircuit.png);
}

#gameArea{
    display:block;
    background-color: #fff;
    overflow:auto;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width:900px;
}

.gameBox{
    width:448px; /*((gamearea width)/2)-(border-width)*2 */
    height:500px;
    margin-left:auto;
    margin-right:auto;
    float:left;
    background-color:black;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#robot{
    width: 90%;
    height: auto;
    margin: 0px;
}

#leftGameBox{
    align-content: center;
    background-image: url(../images/robot.png);
    background-size: cover;
}

.water{
    height: 50px;
}

p{
    color:white;
    text-align:center;
    font-size: 24px;
    margin:20px;
    font-family: 'arial';
}

@font-face {
    font-family: circuitFont;
    src: url(../fonts/101!\ Circuit\ Board.ttf);
  }